.container
  %h3 Parsing results

  %h4 Matched
  %table.u-full-width
    %thead
      %tr
        %th CSV data
    %tbody
      - @matched.each do |item|
        %tr
          %td=item[:qtyA]
          %td=item[:qtyB]
