.container
  .row
    %h3 Upload your file
  .row
    %form(method="post" enctype='multipart/form-data')
      %input(type='file' name='myfile')
      %br
      %input.button-primary(type='submit' value='Upload')
