!!!
%html
  %head
    %title Amazon Data Parser
    %link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css')

    %link(rel="stylesheet" href="css/normalize.css")
    %link(rel="stylesheet" href="css/skeleton.css")
    %link(rel="stylesheet" href="css/font-awesome.css")
    %link(rel="stylesheet" href="css/skeleton-fontawesome-buttons.css")
    %link(rel="stylesheet" href="css/styles.css")

    %script(src="javascript/add_to_csv.js")

  %body

    .nav-container.no-select.fixed-top.u-full-width
      %ul.inline-list.hover-links.nav-list
        %li
          %a.text-lg(href="/") Amazon Data Parser
        %li
          %a(href="/download_matched_file")
            Download
            %i.fa.fa-download


    #content
      =yield

    .nav-container.no-select.fixed-bottom.u-full-width
      %ul.inline-list.hover-links.nav-list.six.columns
        %li
          %a(href="/") File uploader
